.header {
    height:10rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    z-index: 1;

    &__logo-box {
        height: 100%;
        float: left;
        width: 25%;
    }

    &__logo {
        padding-top: .5rem;
        height: 75%;
        width: auto;
        display: block;
        margin: 0 auto;
        padding-top: 1.5rem;
    }

    &__links-box {
        height: 100%;
        width: 75%;
        float: right;
    }

    &__links-list {
        float: right;
        height: 100%;

    }

    &__link:link,
    &__link:visited, {
        display: inline-block;
        margin-right: 5rem;
        margin-top: 4.05rem;
        padding-bottom: .5rem;
        color: $color-white;
        font-size: 1.7rem;
        font-weight: 100;
        text-transform: uppercase;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        transition: border .2s
    }

    &__link:hover,
    &__link:active {
        border-bottom: 1px solid $color-white;
    }

    &__link:last-child {
        margin-right: 7rem;
    }
}

