h1 {
    margin: 0;
}

.heading-primary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 100;
    line-height: 5px;
    margin-bottom: 3rem;
}

.heading-tertiary {
    font-size: 2rem;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 3rem;
    text-align: center;
}

.heading-tertiary::after {
    content: " ";
    background-color: $color-white;
    display: block;
    height: 2px;
    width: 31%;
    margin: 0 auto;
    margin-top: 2rem;
}

.icon {
    display: inline-block;
    color: $color-black;
    margin-right: 4rem;

    &-big {
        font-size: 350%;
    }

    &-bigger {
        font-size: 500%;
    }
}

a:link,
a:visited {
    text-decoration: none;

}