:root {
  --color-primary: #75B0CC;
  --color-primary-light: #93DBFF;
  --color-primary-dark: #496E7F;
  --color-primary-white: #e2f5ff;
  --color-primary-grey: #707A7F;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --color-black: #000;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
  --line: 1px solid var(--color-grey-light-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  min-height: 100vh; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

.header-primary {
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: .3rem;
  text-transform: uppercase; }

.header-massive {
  font-size: 10rem;
  font-weight: 100;
  text-transform: uppercase; }

.header-sub-massive {
  font-size: 2.5rem;
  font-weight: 100;
  text-transform: uppercase; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.u-no-margin-right {
  margin-right: 0 !important; }

.u-no-bottom-margin {
  margin-bottom: 0 !important; }

.u-black-font {
  color: #000 !important; }

.background-video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  background-size: cover;
  overflow: hidden;
  opacity: .5;
  z-index: 0; }

.button-text {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: 600;
  letter-spacing: .03em;
  border: 1px solid rgba(0, 40, 100, 0.12);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  font-size: 1.3rem;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle; }
  .button-text__content {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .button-text__icon {
    height: 1.2rem;
    width: 1.2rem;
    margin-top: .2rem;
    margin-right: .7rem; }
  .button-text:focus {
    outline: none; }
  .button-text-card:not(:last-child) {
    margin-right: 1rem; }

.certificate {
  display: inline-block;
  background-color: rgba(132, 216, 255, 0.8);
  height: 100px;
  width: 500px;
  margin: 10px; }

.progress-bar__text {
  display: flex;
  align-items: center; }
  .progress-bar__text--days {
    font-weight: 600;
    margin-right: auto; }
  .progress-bar__text--dates {
    color: var(--color-grey-dark-3);
    font-weight: 400;
    font-size: 75%; }

.progress-bar__bar {
  height: .25rem;
  background-color: #e9ecef;
  border-radius: 3px;
  display: flex;
  overflow: hidden; }
  .progress-bar__bar--value {
    height: .25rem;
    background-color: #5eba00;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center; }

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem; }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: .5rem; }
  .side-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav--item:active::before {
    background-color: var(--color-primary-light); }
  .side-nav__link:link, .side-nav__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center; }
  .side-nav__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; }

.link,
.link:link,
.link:visited {
  padding: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 1.5rem; }
  .link:not(:last-child),
  .link:link:not(:last-child),
  .link:visited:not(:last-child) {
    margin-right: 1rem; }

.jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50rem;
  width: 100rem;
  color: #fff; }

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center;
  margin-right: 3rem; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
  .user-nav > *:hover {
    background-color: var(--color-grey-light-2); }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2); }
  .user-nav__notification {
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #fff;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem; }
  .user-nav__user:hover {
    outline: none; }
    .user-nav__user:hover svg {
      outline: none;
      transform: rotate(180deg); }
  .user-nav__icon-dropdown {
    height: 1.75rem;
    width: 1.75rem;
    margin-left: 1rem;
    fill: var(--color-grey-dark-2);
    transition: all 1s; }

.widget {
  height: 16rem;
  width: 16rem;
  background-color: #fff;
  border: 1px solid rgba(0, 40, 100, 0.12);
  border-radius: .3rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .widget__main-text {
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem; }
  .widget__sub-text {
    font-size: 1.2rem;
    padding: 0 .5rem; }

.cert-table {
  border: 1px solid rgba(0, 40, 100, 0.12);
  padding: 3rem;
  width: 100%;
  display: table;
  border-collapse: collapse;
  table-layout: fixed; }
  .cert-table thead th:nth-child(1) {
    width: 5%; }
  .cert-table thead th:nth-child(2) {
    width: 5%; }
  .cert-table thead th:nth-child(3) {
    width: 15%; }
  .cert-table thead th:nth-child(4) {
    width: 15%; }
  .cert-table thead th:nth-child(5) {
    width: 10%; }
  .cert-table thead th:nth-child(6) {
    width: 10%; }
  .cert-table thead th:nth-child(7) {
    width: 25%; }
  .cert-table thead th:nth-child(8) {
    width: 15%; }
  .cert-table__header {
    height: 5rem;
    vertical-align: middle;
    text-align: left; }
  .cert-table th {
    padding: 0.75rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 400; }
    .cert-table th:first-child {
      padding-left: 1.5rem; }
  .cert-table tr {
    height: 5rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    border-bottom: 1px solid lightgrey; }
  .cert-table td {
    padding: 0.75rem; }
    .cert-table td:first-child {
      padding-left: 1.5rem; }
  .cert-table__image {
    width: 4rem;
    height: 4rem;
    border-radius: 50%; }
  .cert-table__button-container {
    margin: 0 auto;
    display: inline-block;
    width: 49%; }

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0; }
  .cards__item {
    display: flex;
    padding: 1rem;
    width: 33.33%;
    height: 30rem; }

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #fff;
  border: 1px solid rgba(0, 40, 100, 0.12);
  border-radius: 3px; }
  .card__header {
    display: flex;
    align-items: center;
    min-height: 5rem;
    padding: 0.5rem 1.5rem;
    border-bottom: 1px solid rgba(0, 40, 100, 0.12); }
  .card__buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
    order: 100; }
  .card__content {
    flex: 1 0 auto;
    margin: 0;
    padding: 1.5rem 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .card__content-name-date {
      display: flex; }
  .card__info {
    padding: .5rem;
    padding-right: 3rem;
    font-size: 1.3rem; }
    .card__info-header {
      text-transform: uppercase;
      font-weight: 100;
      font-size: 1.5rem; }
    .card__info-name {
      margin-right: auto; }
  .card__footer {
    min-height: 5rem;
    border-top: 1px solid rgba(0, 40, 100, 0.12);
    padding: 0.5rem 1.5rem; }

.footer {
  height: 30rem;
  background-color: #191919;
  white-space: nowrap; }
  .footer__left {
    display: inline-block;
    height: 100%;
    width: 25%;
    white-space: normal;
    vertical-align: top;
    text-align: center; }
  .footer__logo-box {
    display: inline-block;
    height: 50%;
    padding: 4rem; }
  .footer__logo {
    height: 100%;
    width: auto; }
  .footer__copyright-box {
    display: inline-block;
    height: 50%;
    width: 100%; }
  .footer__copyright-text {
    color: white;
    padding: 3rem;
    padding-top: 10rem;
    font-size: 1.6rem; }
  .footer__links-container {
    display: inline-block;
    height: 30rem;
    width: 50%;
    white-space: normal;
    vertical-align: top; }
  .footer__links {
    height: 100%;
    padding: 4rem;
    padding-top: 6rem;
    text-align: center;
    font-size: 1.6rem;
    text-transform: uppercase;
    list-style: none; }
    .footer__links li {
      margin-bottom: 2rem; }
  .footer__link:link, .footer__link:visited {
    color: #fff;
    border-bottom: 1px solid transparent;
    transition: border .2s; }
  .footer__link:hover, .footer__link:active {
    border-bottom: 1px solid #fff; }

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header__logo {
    margin-left: 2.5rem;
    height: 5rem;
    width: auto;
    margin-right: auto; }
  .header--landing {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 12rem;
    width: 100%;
    padding: 0 5rem;
    display: flex;
    align-items: center; }
  .header--links-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    margin-right: 2rem; }

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.dashboard {
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex; }
  .dashboard__container {
    flex: 0 0 90%;
    margin: 8rem auto;
    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark); }
  .dashboard__view {
    flex: 1;
    background-color: var(--color-primary-white); }

.widget-board {
  height: 30rem;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.certificate-table-container {
  background-color: #fff;
  margin: 3rem; }
  .certificate-table-container__header {
    height: 5rem;
    border: 1px solid rgba(0, 40, 100, 0.12);
    padding: 0.75rem;
    padding-left: 1.5rem; }

.certificate-cards-container {
  margin: 3rem; }
  .certificate-cards-container__secondary-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; }

.content {
  display: flex; }

.entrance {
  display: flex;
  flex-direction: column;
  font-size: 140%;
  min-height: 100vh; }
  .entrance__header {
    width: 70%;
    margin: 0 auto;
    padding: 3rem 0; }
    .entrance__header--logo {
      height: 8rem; }
  .entrance__content {
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 80%;
    max-width: 103rem;
    margin: auto; }
  .entrance__form {
    display: flex;
    position: relative;
    opacity: 1;
    background-color: #fff; }
    .entrance__form-content {
      box-sizing: border-box;
      background: #f8f8f8;
      box-shadow: 2px 7px 12px 1px rgba(0, 0, 0, 0.5);
      width: 45%;
      padding: 3.375rem 3.625rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex-grow: 1;
      flex-shrink: 0;
      margin-top: -25px;
      margin-bottom: -25px;
      margin-right: 3%; }
  .entrance__text {
    padding: 8rem 4.5rem; }
    .entrance__text h1 {
      font-size: 250%;
      font-weight: 800;
      line-height: 4.5rem;
      padding: 10rem 0; }
  .entrance__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    width: 90%;
    max-width: 73.125rem;
    margin: 0 auto;
    padding: 2.5rem 0;
    height: 15rem; }
  .entrance__icon-box {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 5rem 8rem; }
  .entrance__icon {
    height: 4rem;
    width: 4rem; }
    .entrance__icon--google {
      height: 3.5rem;
      width: 3.5rem; }

.video-section {
  height: 70vh;
  background-color: var(--color-primary);
  position: relative; }
  .video-section__content {
    height: 100%;
    z-index: 100;
    position: relative; }

.jumbotron-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.loader {
  background-color: black;
  position: relative; }
  .loader__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: 100; }

.intro-container {
  text-align: center; }

.auth-form__background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../img/crane.jpeg");
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative; }

.auth-form__container {
  max-height: 730px;
  max-width: 420px;
  height: 90%;
  width: 30%;
  background-color: #f7f7f7;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.auth-form__logo-box {
  height: 10%;
  width: 100%; }

.auth-form__logo {
  padding: 1.5rem;
  display: block;
  height: 100%;
  width: auto;
  margin: 0 auto; }

.auth-form__header-text-box {
  height: 15%;
  text-align: center;
  padding-top: 3rem; }

.auth-form__header-text {
  text-transform: uppercase;
  color: #e67e22;
  font-weight: 100;
  letter-spacing: 2px;
  font-size: 500%; }

.auth-form__form {
  display: block;
  height: 45%;
  text-align: center; }
  .auth-form__form--signin {
    height: 42%; }

.auth-form__form-field {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem; }
  .auth-form__form-field:last-child {
    margin-bottom: 0; }

.auth-form__input-container {
  display: inline-block;
  width: 80%; }

.auth-form__input {
  display: inline-block;
  width: 100%;
  height: 4rem;
  font-size: 1.6rem;
  padding: 1.5rem 2rem;
  border: 1px solid #999;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px; }
  .auth-form__input:focus {
    outline: none;
    border: 1px solid #000; }

.auth-form__field-error-container {
  width: 80%;
  margin: 0 10%;
  margin-bottom: 5px;
  font-size: 1.6rem; }

.auth-form__auth-error-container {
  color: #f1410b;
  height: 6%;
  font-size: 1.3rem;
  padding-top: 7px;
  margin-bottom: 7px; }

.auth-form__field-label {
  float: left; }

.auth-form__field-error {
  float: right;
  color: #f1410b;
  font-size: 1.2rem;
  padding-top: 3px; }

.auth-form__password-recover {
  margin-top: 2rem;
  font-size: 1.2rem;
  display: block; }
  .auth-form__password-recover:link, .auth-form__password-recover:visited {
    color: inherit;
    transition: all, .2s; }
  .auth-form__password-recover:hover {
    color: #e67e22; }

.auth-form__error-box {
  height: 2rem;
  color: red;
  font-size: 1.6rem;
  margin-top: -1rem; }

.auth-form__button, .auth-form__button:link, .auth-form__button:visited {
  height: 5rem;
  width: 80%;
  text-transform: uppercase;
  font-size: 1.6rem;
  color: white;
  background-color: #e67e22;
  border-radius: 2px;
  cursor: pointer; }

.auth-form__button:active, .auth-form__button:focus {
  outline: none; }

.auth-form__vendor-container {
  width: 100%;
  height: 15%;
  text-align: center; }
  .auth-form__vendor-container--signin {
    height: 18%; }

.auth-form__vendor-text {
  font-size: 1.3rem; }

.auth-form__vendor-links {
  text-align: center;
  margin-top: 3rem; }
  .auth-form__vendor-links li {
    display: inline-block; }

.auth-form__signup-container {
  height: 15%;
  background-color: #D3D3D3;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px; }

.auth-form__signup-text-container {
  width: 100%;
  height: 7rem;
  padding: 3rem;
  text-align: center;
  font-size: 1.6rem; }

.auth-form__signup-link-container {
  height: 5rem;
  text-align: center; }

.auth-form__signup-link:link, .auth-form__signup-link:visited {
  color: #e67e22;
  font-size: 2rem;
  border-bottom: 1px solid transparent;
  transition: all, .2s; }

.auth-form__signup-link:hover, .auth-form__signup-link:active {
  border-bottom: 1px solid #e67e22; }

.ion-ios-person-outline:before {
  padding-top: 1rem; }

.ion-ios-locked-outline:before {
  padding-top: 1rem; }
