*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility; }

body {
  box-sizing: border-box;
  position: relative; }

section {
  margin: 0; }

h1 {
  margin: 0; }

.heading-primary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 3rem; }

.heading-tertiary {
  font-size: 2rem;
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 3rem;
  text-align: center; }

.heading-tertiary::after {
  content: " ";
  background-color: #fff;
  display: block;
  height: 2px;
  width: 31%;
  margin: 0 auto;
  margin-top: 2rem; }

.icon {
  display: inline-block;
  color: #000;
  margin-right: 4rem; }
  .icon-big {
    font-size: 350%; }
  .icon-bigger {
    font-size: 500%; }

a:link,
a:visited {
  text-decoration: none; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.u-no-margin-right {
  margin-right: 0 !important; }

.u-no-bottom-margin {
  margin-bottom: 0 !important; }

.u-black-font {
  color: #000 !important; }

.background-video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  background-size: cover;
  overflow: hidden;
  opacity: .5;
  z-index: 0; }

.button, .button:link, .button:visited {
  display: inline-block;
  height: 5rem;
  width: 20rem;
  border-radius: 2rem;
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
  transition: all .2s; }

.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.button:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.button-orange {
  background-color: #e67e22;
  color: #fff; }

.button-video {
  padding-top: 1.5rem; }

.certificate {
  display: inline-block;
  background-color: rgba(132, 216, 255, 0.8);
  height: 100px;
  width: 500px;
  margin: 10px; }

.progress-bar__text {
  display: flex;
  align-items: center; }
  .progress-bar__text--days {
    font-weight: 600;
    margin-right: auto; }
  .progress-bar__text--dates {
    color: var(--color-grey-dark-3);
    font-weight: 400;
    font-size: 75%; }

.progress-bar__bar {
  height: .25rem;
  background-color: #e9ecef;
  border-radius: 3px;
  display: flex;
  overflow: hidden; }
  .progress-bar__bar--value {
    height: .25rem;
    background-color: #5eba00;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center; }

.side-menu {
  height: 100vh;
  width: 20%;
  float: left;
  background-color: #262f3d; }
  .side-menu__logo-box {
    width: 100%;
    height: 10%;
    text-align: center;
    padding: 10px; }
  .side-menu__logo {
    padding-top: 10px;
    width: auto;
    height: 100%; }
  .side-menu__links-container {
    height: 50%;
    width: 100%;
    padding: 25%; }
  .side-menu__links-list {
    list-style: none;
    color: white;
    font-size: 200%; }
  .side-menu__link {
    margin-bottom: 50px; }
    .side-menu__link--button {
      background-color: transparent;
      border: none;
      color: white;
      border-bottom: 2px solid transparent;
      transition: border .2s; }
    .side-menu__link--button:focus {
      outline: none; }
    .side-menu__link--button:hover {
      border-bottom: 2px solid white; }

.footer {
  height: 30rem;
  background-color: #191919;
  white-space: nowrap; }
  .footer__left {
    display: inline-block;
    height: 100%;
    width: 25%;
    white-space: normal;
    vertical-align: top;
    text-align: center; }
  .footer__logo-box {
    display: inline-block;
    height: 50%;
    padding: 4rem; }
  .footer__logo {
    height: 100%;
    width: auto; }
  .footer__copyright-box {
    display: inline-block;
    height: 50%;
    width: 100%; }
  .footer__copyright-text {
    color: white;
    padding: 3rem;
    padding-top: 10rem;
    font-size: 1.6rem; }
  .footer__links-container {
    display: inline-block;
    height: 30rem;
    width: 50%;
    white-space: normal;
    vertical-align: top; }
  .footer__links {
    height: 100%;
    padding: 4rem;
    padding-top: 6rem;
    text-align: center;
    font-size: 1.6rem;
    text-transform: uppercase;
    list-style: none; }
    .footer__links li {
      margin-bottom: 2rem; }
  .footer__link:link, .footer__link:visited {
    color: #fff;
    border-bottom: 1px solid transparent;
    transition: border .2s; }
  .footer__link:hover, .footer__link:active {
    border-bottom: 1px solid #fff; }

.header {
  height: 10rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  z-index: 1; }
  .header__logo-box {
    height: 100%;
    float: left;
    width: 25%; }
  .header__logo {
    padding-top: .5rem;
    height: 75%;
    width: auto;
    display: block;
    margin: 0 auto;
    padding-top: 1.5rem; }
  .header__links-box {
    height: 100%;
    width: 75%;
    float: right; }
  .header__links-list {
    float: right;
    height: 100%; }
  .header__link:link, .header__link:visited {
    display: inline-block;
    margin-right: 5rem;
    margin-top: 4.05rem;
    padding-bottom: .5rem;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 100;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border .2s; }
    .header__link:link--black, .header__link:visited--black {
      color: #000; }
  .header__link:hover, .header__link:active {
    border-bottom: 1px solid #fff; }
    .header__link:hover--black, .header__link:active--black {
      border-bottom: 1px solid #000; }
  .header__link:last-child {
    margin-right: 7rem; }

.dashboard {
  height: 100vh;
  width: 100%; }
  .dashboard__header {
    height: 100px;
    width: 80%;
    float: right;
    background-color: #e67e22; }
    .dashboard__header__profile-box {
      float: right;
      height: 100%;
      font-size: 170%;
      padding: 20px; }
  .dashboard__content-container {
    width: 80%;
    float: right;
    height: 100%; }

.certificate-container {
  height: 100%; }

.section-video {
  background-color: #000;
  height: 100vh;
  position: relative; }

.section-banner {
  height: 25rem;
  background-color: #ecf0f1; }

.section-industries {
  height: 75rem;
  position: relative; }

.landing__jumbotron-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30vh;
  width: 100%;
  text-align: center;
  color: #fff; }

.landing__left-text-box {
  padding: 5rem;
  float: left;
  height: 100%;
  width: 35%; }

.landing__left-heading {
  font-size: 3.7rem;
  font-weight: 100; }

.landing__form-container {
  height: 100%;
  width: 65%;
  float: left; }

.landing__input-container {
  margin: 0;
  padding: 5rem 0;
  width: 60%;
  text-align: center;
  display: inline-block; }

.landing__social-container {
  display: table;
  width: 100%;
  text-align: left;
  font-size: 1.6rem;
  font-weight: 300;
  margin-top: 2rem; }

.landing__social-text {
  display: table-cell;
  vertical-align: middle;
  width: 25%;
  font-weight: 300;
  padding-left: 2rem;
  padding-top: .5rem; }

.landing__social-links {
  width: 100%;
  float: right;
  padding: 5px;
  text-align: left; }

.landing__input {
  padding: 2rem 2rem;
  border-radius: 3px;
  height: 5rem;
  width: 100%;
  font-size: 2rem;
  opacity: .75;
  font-family: inherit;
  font-size: 1.6rem;
  background-color: #ecf0f1;
  color: #000;
  border: none;
  border-bottom: 2px solid #000;
  margin: 0;
  margin-bottom: 1rem; }
  .landing__input::-webkit-input-placeholder {
    color: #000; }
  .landing__input:focus:invalid {
    border-bottom: 2px solid #f1410b; }
  .landing__input:focus:valid {
    border-bottom: 2px solid #55c57a; }
  .landing__input:focus {
    outline: none; }

.landing__label {
  text-align: left;
  display: block;
  padding-left: 2rem;
  padding-top: .5rem;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  transition: all, .3s; }

.landing__input:placeholder-shown + .landing__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.landing__button-container {
  padding: 10rem 0;
  margin-right: 7rem;
  float: right;
  height: 100%;
  width: 25%;
  text-align: center; }

.landing__grid-picture {
  display: inline-block;
  height: 100%;
  width: 25%;
  background-size: cover; }
  .landing__grid-picture--1 {
    background-image: url("../../img/pilot.jpg"); }
  .landing__grid-picture--2 {
    background-image: url("../../img/susie.png"); }
  .landing__grid-picture--3 {
    background-image: url("../../img/car.jpg"); }
  .landing__grid-picture--4 {
    background-image: url("../../img/waterside.jpg"); }

.landing__industries-text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 10rem;
  width: 100%; }

.landing__industries-text {
  font-size: 1000%;
  color: #e67e22;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center; }

.loader {
  background-color: black;
  position: relative; }
  .loader__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: 100; }

.intro-container {
  text-align: center; }

.auth-form__background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../img/crane.jpeg");
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative; }

.auth-form__container {
  max-height: 730px;
  max-width: 420px;
  height: 90%;
  width: 30%;
  background-color: #f7f7f7;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.auth-form__logo-box {
  height: 10%;
  width: 100%; }

.auth-form__logo {
  padding: 1.5rem;
  display: block;
  height: 100%;
  width: auto;
  margin: 0 auto; }

.auth-form__header-text-box {
  height: 15%;
  text-align: center;
  padding-top: 3rem; }

.auth-form__header-text {
  text-transform: uppercase;
  color: #e67e22;
  font-weight: 100;
  letter-spacing: 2px;
  font-size: 500%; }

.auth-form__form {
  display: block;
  height: 45%;
  text-align: center; }
  .auth-form__form--signin {
    height: 42%; }

.auth-form__form-field {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem; }
  .auth-form__form-field:last-child {
    margin-bottom: 0; }

.auth-form__input-container {
  display: inline-block;
  width: 80%; }

.auth-form__input {
  display: inline-block;
  width: 100%;
  height: 4rem;
  font-size: 1.6rem;
  padding: 1.5rem 2rem;
  border: 1px solid #999;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px; }
  .auth-form__input:focus {
    outline: none;
    border: 1px solid #000; }

.auth-form__field-error-container {
  width: 80%;
  margin: 0 10%;
  margin-bottom: 5px;
  font-size: 1.6rem; }

.auth-form__auth-error-container {
  color: #f1410b;
  height: 6%;
  font-size: 1.3rem;
  padding-top: 7px;
  margin-bottom: 7px; }

.auth-form__field-label {
  float: left; }

.auth-form__field-error {
  float: right;
  color: #f1410b;
  font-size: 1.2rem;
  padding-top: 3px; }

.auth-form__password-recover {
  margin-top: 2rem;
  font-size: 1.2rem;
  display: block; }
  .auth-form__password-recover:link, .auth-form__password-recover:visited {
    color: inherit;
    transition: all, .2s; }
  .auth-form__password-recover:hover {
    color: #e67e22; }

.auth-form__error-box {
  height: 2rem;
  color: red;
  font-size: 1.6rem;
  margin-top: -1rem; }

.auth-form__button, .auth-form__button:link, .auth-form__button:visited {
  height: 5rem;
  width: 80%;
  text-transform: uppercase;
  font-size: 1.6rem;
  color: white;
  background-color: #e67e22;
  border-radius: 2px;
  cursor: pointer; }

.auth-form__button:active, .auth-form__button:focus {
  outline: none; }

.auth-form__vendor-container {
  width: 100%;
  height: 15%;
  text-align: center; }
  .auth-form__vendor-container--signin {
    height: 18%; }

.auth-form__vendor-text {
  font-size: 1.3rem; }

.auth-form__vendor-links {
  text-align: center;
  margin-top: 3rem; }
  .auth-form__vendor-links li {
    display: inline-block; }

.auth-form__signup-container {
  height: 15%;
  background-color: #D3D3D3;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px; }

.auth-form__signup-text-container {
  width: 100%;
  height: 7rem;
  padding: 3rem;
  text-align: center;
  font-size: 1.6rem; }

.auth-form__signup-link-container {
  height: 5rem;
  text-align: center; }

.auth-form__signup-link:link, .auth-form__signup-link:visited {
  color: #e67e22;
  font-size: 2rem;
  border-bottom: 1px solid transparent;
  transition: all, .2s; }

.auth-form__signup-link:hover, .auth-form__signup-link:active {
  border-bottom: 1px solid #e67e22; }

.ion-ios-person-outline:before {
  padding-top: 1rem; }

.ion-ios-locked-outline:before {
  padding-top: 1rem; }
