.landing {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(105deg,
                                      rgba($color-white, 1) 0%,
                                      rgba($color-white, 1) 50%,
                                      rgba($color-black, 1) 50%); 
    position: relative;
    
    
    &__left-side {
        width: 50%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: block;
    }

}