.background-video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    background-size: cover;
    overflow: hidden;
    opacity: .5;
    z-index: 0;
}