.button-text {
   
    display: inline-block;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: 600;
    letter-spacing: .03em;
    border: 1px solid rgba(0, 40, 100, 0.12);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    font-size: 1.3rem;
    cursor: pointer;

    text-align: center;
    white-space: nowrap;
    vertical-align: middle;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__icon {
        height: 1.2rem;
        width: 1.2rem;
        margin-top: .2rem;
        margin-right: .7rem;
    }

    &:focus {
        outline: none;
    }


    &-card {
        
        &:not(:last-child) {
            margin-right: 1rem;
        }
    }
    
}