.cert-table {
    border: 1px solid rgba(0, 40, 100, 0.12);
    padding: 3rem;

    width: 100%;
    display: table;
    border-collapse: collapse;
    table-layout: fixed;

    //TABLE WIDTHS
    & thead th:nth-child(1) {
        width: 5%;
    }
    & thead th:nth-child(2) {
        width: 5%;
    }
    & thead th:nth-child(3) {
        width: 15%;
    }
    & thead th:nth-child(4) {
        width: 15%;
    }
    & thead th:nth-child(5) {
        width: 10%;
    }
    & thead th:nth-child(6) {
        width: 10%;
    }
    & thead th:nth-child(7) {
        width: 25%;
    }
    & thead th:nth-child(8) {
        width: 15%;
    }

    &__header {
        height: 5rem;
        vertical-align: middle;
        text-align: left;
    }

    & th {
        padding: 0.75rem;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 400;

        &:first-child {
            padding-left: 1.5rem;
        }
    }

    & tr {
        height: 5rem;
        font-size: 1.2rem;
        text-transform: uppercase;
        border-bottom: 1px solid lightgrey;
    
        
    }

    & td {
        padding: 0.75rem;

        &:first-child {
            padding-left: 1.5rem;
        }
    }

    &__image {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
    }

    &__button-container {
       margin: 0 auto;
       display: inline-block;
       width: 49%;
    }
}
