.form {
    
    &__group {
        position: relative;
    }

    &__input {
        width: 50%;
        padding: 1.5rem 2rem;
        border-radius: 5px;
        border: 2px solid $color-grey-dark-2;
        transition: all, .3s;

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .2);
            border-bottom: 2px solid $color-green;
        }

        &:focus:invalid {
            border-bottom: 2px solid $color-red;
        }

        &:hover {
            box-shadow: 0 1rem 2rem rgba($color-black, .2)
        }

        &--landing {
            width: 72%;
        }
    }

    &__input:focus:invalid + &__label {
        color: $color-red;
    }

    &__input:active:invalid ~ &__button {
        color: $color-red;

    }

    &__input:focus + &__label {
        color: $color-green;
    }

    &__label {
        font-size: 1.4rem;
        font-weight: 700;
        margin-left: 1rem;
        margin-top: 1rem;
        display: block;
        transition: all, .3s;
        text-align: left;

        &--landing {
            margin-left: 15rem;
            margin-top: 1rem;
        }

    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &__button {
        position: absolute;
        top: 0;
        right: 14%;
        margin-left: 3rem;
        padding: 1.5rem 2rem;
        border: 2px solid $color-grey-dark-2;
    }

    &__input:focus:invalid ~ &__button {
        color: $color-red;
        border: 2px solid $color-red;
    }

    &__input:focus ~ &__button {
        color: $color-green;
        border: 2px solid $color-green;
    }


}