.side-menu {
    height: 100vh;
    width: 20%;
    float: left;
    background-color: #262f3d;

    &__logo-box {
        width: 100%;
        height: 10%;
        text-align: center;
        padding: 10px;
    }

    &__logo {
        padding-top: 10px;
        width: auto;
        height: 100%;
    }

    &__links-container {
        height: 50%;
        width: 100%;
        padding: 25%;
    }

    &__links-list {
        list-style: none;
        color: white;
        font-size: 200%;
    }

    &__link {
        margin-bottom: 50px;

        &--button{
            background-color: transparent;
            border: none;
            color: white;
            border-bottom: 2px solid transparent;
            transition: border .2s;
        }

        &--button:focus{
            outline: none;
        }

        &--button:hover {
            border-bottom: 2px solid white;
        }

    }
}